.wrapper {
    margin-top: 10px;
    max-height: calc(100vh - 420px);
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper::-webkit-scrollbar {
    width: 2px;               
  }
  
.wrapper::-webkit-scrollbar-track {
    background: none;        
  }

