.sidebarWrapper {
    background-color: #ffffff;
    width: 250px;
    height: 100vh;
    user-select: none;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sideMenuContainerItem {
    width: 100%;
    height: auto;
}

.sideMenuContainerItem>button{
    border: 1px solid #1c1c1a;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    height: 40px;
    color: #1c1c1a;
}

.sideMenuContainerItem>button:hover {
    width: 95%;
    height: 40px;
    background-color: #f47c02;
    color: #ffffff;
}

.sideMenuContainerItem>button.font {
    font-weight: bold;
    padding-left: 10px;
    text-align: start;
    font-size: 15px;
}

.groupText {
    height: 40px;
    width: 100%;
    color: #1c1c1a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.groupText>p{
    margin-left: 10px;
    font-weight: bold;
    font-size: 30px;
}

.addNewGroup {
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10px;
    height: 35px;
    width: 35px;
}

.addNewGroup>img {
    height: 70%;
    width: 70%;
}
