.item {
    width: 90%;
    min-height: 40px;
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #1c1c1a;
}

.item:hover {
    background-color: #f47c02;
    color: #1c1c1a;
}

.item.active {
    width: 100%;
    background-color: #f47c02;
    color: #fff;
}

.item>p {
    word-wrap: break-all;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
}

.item>img {
    margin-left: 10px;
    height: 25px;
    width: 25px;
}

