.item {
    width: 90%;
    min-height: 40px;
    border: 2px white solid;
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
    border-radius: 10px;
}

.item:hover {
    background-color: white;
    color: #3182B9;
}

.item.active {
    width: 95%;
    background-color: white;
    color: #3182B9;
}

.item>p {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
}

.item>img {
    margin-left: 10px;
    height: 25px;
    width: 25px;
}

