.item {
    width: 90%;
    min-height: 40px;
    border: 2px white solid;
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.item:hover {
    background-color: white;
    color: #3182B9;
}

.item>p {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

