.wrapper {
    height: 50px;
    width: 95%;
    margin: 10px;
    background-color: #181816;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.wrapper>p {
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
}

.defaultDiv {
    height: 10px;
    width: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 50px;
}